<div class="row">
	<div class="col-lg-4">
		<div class="features-icons-item mx-auto mb-5 mb-lg-3">
			<div class="features-icons-icon d-flex">
				<h2 class="m-auto text-primary">FREE</h2>
			</div>
			<h3>1 Post per day</h3>
			<p class="lead">One Instagram Business Account</p>
			<ul style="text-align: left;">
				<li>link in bio</li>
				<li>Hashtag Mention</li>
				<li>Username Mention</li>
				<li>Standard Support</li>
			</ul>
			<a href="{% url 'register' %}" class="btn btn-primary">Start your Free Trial</a>
			<!-- <p class="lead mb-0"></p> -->
		</div>
	</div>
	<div class="col-lg-4">
		<div class="features-icons-item mx-auto mb-5 mb-lg-3">
			<div class="features-icons-icon d-flex">
				<h2 class="m-auto text-primary">$7 Monthly</h2>
			</div>
			<h3>Unlimited posts per day</h3>
			<p class="lead">One Instagram Business Account</p>
			<ul style="text-align: left;">
				<li>link in bio</li>
				<li>Hashtag Mention</li>
				<li>Username Mention</li>
				<li>Dedicated support</li>
			</ul>
			<a href="{% url 'newsletter:collect_email' 'two' %}" class="btn btn-outline-primary">Signup</a>

			<!-- <p class="lead mb-0">Just like a regular day, post on Instagram.</p> -->
		</div>
	</div>
	<div class="col-lg-4">
		<div class="features-icons-item mx-auto mb-0 mb-lg-3">
			<div class="features-icons-icon d-flex">
				<h2 class="m-auto text-primary">$30 Monthly</h2>
			</div>
			<h3>Unlimited posts per day</h3>
			<p class="lead">upto 5 Instagram Business Accounts</p>
			<ul style="text-align: left;">
				<li>link in bio</li>
				<li>Hashtag Mention</li>
				<li>Username Mention</li>
				<li>Dedicated and Prioritised support</li>
			</ul>
			<a href="{% url 'newsletter:collect_email' 'three' %}" class="btn btn-outline-primary">Signup</a>

			<!-- <p class="lead mb-0">We do the rest and create your blog post.</p> -->
		</div>
	</div>
</div>