{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
{{top_text}} | {{ block.super }}
{% endblock %}

{% block head_extras_body %}
<!-- <script>
	console.log('fbAsyncInit')
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '510918386043485',
			cookie     : true,
			xfbml      : true,
			version    : 'v3.2'
		});


		FB.AppEvents.logPageView();
		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		});
	};
</script>
-->
{% endblock %}

{% block content_2 %}
<div class="row">
	<div class="col">
		<h3>{{top_text}}</h3>
		<h3><small>{{form_text}}</small></h3>
	</div>
</div>
<br>
<br>
<br>
<div class="row">
	<div class="col">
		<div class="card-columns">
			{% for pages in all_pages %}
			{% if pages.instagram_business_account %}
			<div class="card border-primary">
				<div class="card-body text-center">
					<h5 class="card-title text-muted">{{ pages.name }}</h5>
					<p><small><i class="fas fa-check"></i> Instagram Business Account Connected</small></p>
					<hr>
					<img src="{{pages.instagram_business_account.profile_picture_url}}" height="112" width="112" style="margin: 10px; padding: 10px">

					<h6 class="card-subtitle mb-2 text-muted">{{pages.instagram_business_account.name}}
						<br>
						<small>
							<a target="_blank" href="https://instagram.com/{{pages.instagram_business_account.username}}"> {{pages.instagram_business_account.username}}
							</a>
						</small>
					</h6>
					<div class="row">
						<div class="col-4">
							<p>
								{{pages.instagram_business_account.media_count}}
								<br>
								<small>
									Posts
								</small>
							</p>
						</div>
						<div class="col-4">
							<p>
								{{pages.instagram_business_account.followers_count}}
								<br>
								<small>
									Followers
								</small>
							</p>
						</div>
						<div class="col-4">
							<p>
								{{pages.instagram_business_account.follows_count}}
								<br>
								<small>
									Follows
								</small>
							</p>
						</div>
					</div>
					<a href="{% url 'accounts:insta_account_setup' insta_id=pages.instagram_business_account.id user_access_token_=pages.access_token %}" class="btn btn-sm btn-outline-primary">
						Connect with this
					</a>
				</div>
			</div>
			{% else %}
			<div class="card border-dark">
				<div class="card-body text-center">
					<h5 class="card-title text-muted">{{ pages.name }}</h5>
					<p><small>Instagram Business Account Not Connected</small></p>
					<hr>
				</div>
			</div>
			{% endif %}

			{% endfor %}

		</div>
	</div>
</div>
<br>
<br>
<br>
<div class="row">
	<div class="col">
		<h4 class="text-muted">Cant find your Instagram Account?</h4>
		<a href="">Learn how to setup your account on Facebook and Instagram.</a>
	</div>
</div>

{% endblock %}


