{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
{{top_text}} | {{ block.super }}
{% endblock %}

{% block head_extras_body %}
<script>
	console.log('fbAsyncInit')
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '510918386043485',
			cookie     : true,
			xfbml      : true,
			version    : 'v3.2'
		});


		FB.AppEvents.logPageView();
		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		});
	};
</script>

{% endblock %}

{% block content_2 %}
<div class="row">
	<div class="col">
		<h3>{{top_text}}</h3>
		<h3><small>{{form_text}}</small></h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<!-- <div class="card-columns">
			{% for i, j, k in zipped_list %}
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">{{ i }}</h5>
					<p class="card-text">{{ j }}</p>
					<a href="#" class="btn btn-primary">Continue with this</a>
				</div>
			</div>
			{% endfor %}
		</div> -->
		<div class="card-columns">
			{% for pages in all_pages %}
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">{{ pages.name }}</h5>
					<p class="card-text">{% if pages.instagram_business_account %} <i>Connected to Instagram Business Account</i> {% endif %}</p>
					<a href="#" class="btn btn-primary">Continue with this</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}


