{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
{{top_text}} | {{ block.super }}
{% endblock %}

{% block header_0 %}
{{ form.media }}
{% endblock %}

{% block content_2 %}
<div class="row">
	<div class="col">
		<h3>{{top_text}}</h3>
		<h3><small>{{form_text}}</small></h3>
	</div>
</div>
<div class="row">
	<div class="col">
		<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
			{{ form|crispy }}
			<input type='submit' class='btn btn-outline-primary btn-lg' value='{{ tab_text }}'/>
		</form>
	</div>
</div>

<!-- login via facebook -->
<!-- <a href="{% url 'accounts:facebook_login' %}">login via Facebook</a>
 -->
{% endblock %}


