{% extends 'blog/blog_base.html' %}
{% load static %}


{% block title %} Username | {{ block.super }}{% endblock %}
{% block head_extras %}{% endblock %}

{% block content_2 %}
<!-- Page Header -->
	<header class="masthead" style="background-image: url('{% static 'blog/img/home-bg.jpg' %}')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>{{user.insta_username}}'s Blogs</h1>
						<span class="subheading">You have # blogs published</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				{% for blog in blogs %}
				<div class="post-preview">
					<a href="{% url 'blog:blog_detail' user.insta_username blog.blog_slug %}">
						<h2 class="post-title">
							{{blog.blog_title}}
						</h2>
						<h3 class="post-subtitle">
							{{blog.blog_post|truncatechars:30}}
						</h3>
					</a>
					<p class="post-meta"><a target="_blank" href="{{blog.insta_url}}">Open post in Instagram</a>
					 | Posted: {{blog.timestamp}}</p>
				</div>
				<hr>
				{% empty %}
				<div class="post-preview">
					<a href="" class="disabled">
						<h2 class="post-title">
							This Page is empty
						</h2>
						<h3 class="post-subtitle">
							Come back later to read more!
						</h3>
					</a>
<!-- 					<p class="post-meta"><a href="#">Open post in Instagram</a>
					 | Posted: July 8, 2018</p> -->
				</div>
				{% endfor %}
				<!-- <div class="post-preview">
					<a href="">
						<h2 class="post-title">
							Failure is not an option
						</h2>
						<h3 class="post-subtitle">
							Many say exploration is part of our destiny, but it’s actually our duty to future generations.
						</h3>
					</a>
					<p class="post-meta"><a href="#">Open post in Instagram</a>
					 | Posted: July 8, 2018</p>
				</div> -->
				<!-- <hr> -->
				<!-- Pager -->
				<!-- <div class="clearfix">
					<a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
				</div> -->
			</div>
		</div>
	</div>

{% endblock %}


