{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Insta2Blog | One click blog from your Instagram">
	<meta name="author" content="Ali Khundmiri">
	<title>{% block title %}Insta2Blog | One click blog from your Instagram{% endblock %}</title> <!-- MAX 70 Chars-->
	{% block other_meta %}{% endblock %}


	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'base/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'base/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'base/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'base/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'base/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Bootstrap core CSS -->
	<link href="{% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
	<link href="{% static 'base/vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- Custom styles for this template -->
	<link href="{% static 'base/css/landing-page.min.css' %}" rel="stylesheet">
	{% block head_extras %}{% endblock %}
	{% if production %}<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129095159-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-129095159-1');
	</script>{% endif %}
</head>

<body>

	{% if request.user.is_authenticated %}
	<!-- This script is for Facebook login. This is nesessary to use Instagram account, since the launch of new Facebook Graph Instagram API-->

<!-- 
NOTE FROM FACEBOOK DOCUMENTS
The Facebook SDK for JavaScript doesn't have any standalone files that need to be downloaded or installed, instead you simply need to include a short piece of regular JavaScript in your HTML that will asynchronously load the SDK into your pages. The async load means that it does not block loading other elements of your page.
The following snippet of code will give the basic version of the Facebook SDK for JavaScript where the options are set to their most common defaults. Insert the following code snippet directly after the opening <body> tag on each page you want to use Facebook Analytics. Replace {your-app-id} with the App ID and {api-version} with the version of the API you are targeting. The current version isv3.2.
-->
<!-- <script>
	console.log('fbAsyncInit')
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '510918386043485',
			cookie     : true,
			xfbml      : true,
			version    : 'v3.2'
		});


		FB.AppEvents.logPageView();
		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		});
	    $(document).trigger('fbload');  //  <---- THIS RIGHT HERE TRIGGERS A CUSTOM EVENT CALLED 'fbload'
		
	};
	(function(d, s, id){
		console.log('function d s id')
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script> -->


{% block head_extras_body %}
{% endblock %}

{% endif %}
<!-- Navigation -->
{% include 'navbar.html' %}

{% block content_1 %}
{% endblock %}

<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-2"></div>
		<div class="col-lg-6 col-md-8 col-sm-12">
			<!-- content -->
			{% block content_2 %}
			{% endblock %}
		</div>
		<div class="col-lg-3 col-md-3"></div>
	</div>
</div>
<!-- <div class="col-lg-9 col-md-9" style="padding: 50px">{% block content_header %}{% endblock %}</div>
<div class="col-lg-3 col-md-3"></div>
-->
<!-- Footer -->
{% include 'footer.html' %}
<!-- Bootstrap core JavaScript -->
<script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>