{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Features | {{ block.super }}
{% endblock %}

{% block head_extras %}
{{ form.media }}
{% endblock %}


{% block content_1 %}

<!-- Icons Grid -->
<section class="features-icons bg-light text-center" style="padding-top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div style="margin-top: 100px"></div>
				<!-- <img class="img-fluid mb-3" width="40%" src="{% static 'base/img/LogoMakr_5MpNGv.png' %}" alt=""> -->
				<!-- <br><span style="font-size: 80px;">Insta<b class="text-primary">2Blog</b></span> -->
				<h1 class="mb-5">Features</h1>
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-lg-8">
				
				<h3 class="text-primary">First Version</h3>
				<p class="lead mb-0">The first version of this website will be very simple. Every time you post, we will create a blog post for, on our website.<br>For example, if your account on instagram is <span class="text-primary">@AliCoderMaker</span>, then your blog posts will be on <span class="text-primary">https://www.insta2blog.com/AliCoderMaker.</span></p>
				<br><br>
				<p class="lead mb-0">Custom Markup for the blog will be available for all users.</p>
				<!-- <p>Check out our <a href="{% url 'core:paywall_test' %}">Pricing and Plans</a></p> -->
			</div>
		</div>
		<div style="margin-top: 100px"></div>
		<div class="row">
			<div class="col-xl-6">
				<h4>Stay in loop</h4>
				<p>
					To follow the development and updates of Insta2Blog, drop your email address here! I promise I won't spam you.
				</p>
			</div>
			<div class="col-xl-6">				
				<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
					{{ form|crispy }}
					<input type='submit' class='btn btn-outline-primary btn-lg' value='submit'/>
				</form>
			</div>
		</div>
	</div>
</section>


{% endblock %}