<footer class="footer bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
				<ul class="list-inline mb-2">
					<li class="list-inline-item">
						<a href="{% url 'core:index' %}">Home</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
					<li class="list-inline-item">
						<a target="_blank" href="https://docs.google.com/document/d/1vGQoJMWdFpbRb2sXR6riVrkgRs6AFD3L7cwHHdfB3k0/edit?usp=sharing">About</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
					<li class="list-inline-item">
						<a href="{% url 'core:features' %}">Features</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
					<li class="list-inline-item">
						<a href="{% url 'core:newsletter_signup' %}">Learn More</a>
					</li>
					<li class="list-inline-item">&sdot;</li>
					<li class="list-inline-item">
						<a href="{% url 'core:paywall_test' %}">Pricing</a>
					</li>
				</ul>
				<p class="text-muted small mb-4 mb-lg-0">&copy; AliCoderMaker // Ali Khundmiri 2018. All Rights Reserved.</p>
			</div>
			<div class="col-lg-6 h-100 text-center text-lg-right my-auto">
				<ul class="list-inline mb-0">
					<li class="list-inline-item mr-3">
						<a href="https://www.facebook.com/alicodermaker">
							<i class="fab fa-facebook fa-2x fa-fw"></i>
						</a>
					</li>
					<li class="list-inline-item mr-3">
						<a href="https:www.twitter.com/alicodermaker">
							<i class="fab fa-twitter-square fa-2x fa-fw"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="https://www.instagram.com/alicodermaker">
							<i class="fab fa-instagram fa-2x fa-fw"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>