{% extends 'base.html' %}
{% load static %}

{% block title %}
The doctor will see you now! | {{ block.super }}
{% endblock %}

{% block head_extras %}
{{ form.media }}
{% endblock %}


{% block content_1 %}

<!-- Icons Grid -->
<section class="features-icons bg-light text-center" style="padding-top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<img class="img-fluid mb-3" width="40%" src="{% static 'base/img/LogoMakr_5MpNGv.png' %}" alt="">
				<br><span style="font-size: 80px;">Insta<b class="text-primary">2Blog</b></span>
				<h1 class="mb-5">One click blog from your Instagram.</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<h2 class="m-auto text-primary">1</h2>
					</div>
					<h3>Sign up</h3>
					<p class="lead mb-0">Create an account on Insta<b class="text-primary">2Blog</b>.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<h2 class="m-auto text-primary">2</h2>
					</div>
					<h3>Post on Instagram</h3>
					<p class="lead mb-0">Just like a regular day, post on Instagram.</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="features-icons-item mx-auto mb-0 mb-lg-3">
					<div class="features-icons-icon d-flex">
						<h2 class="m-auto text-primary">3</h2>
					</div>
					<h3>Relax</h3>
					<p class="lead mb-0">We do the rest and create your blog post. <a href="">Learn more</a></p>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Call to Action -->
<section class="call-to-action text-white text-center">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<h2 class="mb-4">Interested?</h2>
			</div>
			<div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
				<a href="{% url 'core:collect_email' 'one' %}" class="btn btn-primary btn-lg">Plans and Pricing</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}