<!DOCTYPE html>
<html>
<head>
	<title>Testing Facebook Login</title>
</head>
<body>

	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '510918386043485',
				cookie     : true,
				xfbml      : true,
				version    : 'v3.2'
			});

			FB.AppEvents.logPageView();   

		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="fb-root"></div>

	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=510918386043485&autoLogAppEvents=1';
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<h1>
		Hello user
	</h1>

	<p>You have no Posts</p>
	<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>
</body>
</html>