{% extends 'base.html' %}
{% load static %}

{% block title %}
The doctor will see you now! | {{ block.super }}
{% endblock %}

{% block head_extras %}
{{ form.media }}
{% endblock %}


{% block content_1 %}

<!-- Icons Grid -->
<section class="features-icons bg-light text-center" style="padding-top: 0px;">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<!-- <img class="img-fluid mb-3" width="40%" src="{% static 'base/img/LogoMakr_5MpNGv.png' %}" alt=""> -->
				<br><span style="font-size: 80px;">Insta<b class="text-primary">2Blog</b></span>
				<h1 class="mb-5">One click blog from your Instagram.</h1>
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-lg-8">
				
				<h3>Thank you...</h3>
				<p class="lead mb-0">I am glad you like my product!<br>I will Email you as soon as the product is ready! Till them you can follow me on <a href="https://www.instagram.com/alicodermaker">Instagram</a> and <a href="https:www.twitter.com/alicodermaker"> Twitter.</a></p>
				
			</div>
		</div>

	</div>
</section>


{% endblock %}